<!DOCTYPE html>

<html lang='en' xml:lang='en' xmlns="http://www.w3.org/1999/xhtml">
{% load pages_tags mezzanine_tags i18n future %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }} | {% endif %}{% block meta_title %}{% endblock %}</title>
<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />

{% compress css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/slidesjs.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_UI_FILENAME }}"></script>
<script src="{{ STATIC_URL }}js/jquery.slides.js"></script>
<script>
$(function() {
    $('.slides').slidesjs({
      width: 940,
      height: 310,
      play: {
        active: true,
        effect: "slide",
        interval: 5000,
        auto: true,
        swap: true,
        pauseOnHover: true,
        restartDelay: 2500
      },
      effect: {
        slide: {
          speed: 1000,
        }
      }
    });
});
</script>

{% block extra_js %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}

</head>

<body>

<div id="container">

    <div id="header">

      <div id="logo">
        <a href="{% url 'home' %}">
        <img src="{{STATIC_URL}}images/logo_horizontal.png" width="300" height="150"></img>
        </a>
      </div>

      <div id="login">

      {% if request.user.is_authenticated %}
          <p class="topheader">
          Hi, {{ request.user.first_name }}!
          <p class="topheader"><a href="{% url "profile_update" %}">My Account</a></p>
          <p class="topheader">
          <a href="{% url "logout" %}?next={{ request.path }}">{% trans "Log out" %}</a>
          </p>
          {% if request.user.is_superuser %}
          <p class="topheader"><a href="{% url "admin:index" %}">Admin</a></p>
          {% endif %}
      {% else %}
          <p class="topheader">
          <a href="{% url "login" %}?next={{ request.path }}">{% trans "Log in" %}</a>
          </p>
          {% trans "or" %}
          <p class="topheader">
          <a href="{% url "signup" %}?next={{ request.path }}">{% trans "Sign up" %}</a>
          </p>
      {% endif %}

      </div>

      <div id="social">
        <a href="http://www.facebook.com/thesourcecoffeecompany"><img src="{{STATIC_URL}}images/facebook.png" width="50" height="50"></img></a>
        <a href="http://www.twitter.com/thesourcecoffee"><img src="{{STATIC_URL}}images/twitter.png" width="50" height="50"></img></a>
        <a href="http://www.instagram.com/thesourcecoffee"><img src="{{STATIC_URL}}images/instagram.png" width="50" height="50"></img></a>
      </div>

      <div id="search_box">
      {% search_form %}
      </div>

    </div><!---End header-->

	<div id="navwrapper">
	
    {% block main_menu %}
    {% page_menu "pages/menus/dropdown.html" %}

	</div>
	
    <!-- begin slides -->
    {% block slides %}{% endblock %}
    <!-- end slides -->

    <div id="media">
      {% block main %}{% endblock %}
    </div>
    {% endblock %}

    <div id="footer">
      <p id="foot">&copy; 2013 The Source Coffee Company. All rights reserved. <a href="http://www.thesourcecoffee.com/privacy">Privacy Policy</a></p>
    </div>

</div> <!--End container-->

</body>

</html>
