<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>The Source Coffee Company</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
</head>

<body>

<div id="container">

    <div id="header">

      <div id="logo">
        <object data="{{STATIC_URL}}images/logo.svg" type="image/svg+xml" width="300" height="150"></object>
      </div>

      <div id="login">
        <p class="topheader"><a href="#">Log In</a></p>
        <p class="topheader"><a href="#">My Account</a></p>
        <p class="topheader"><a href="#">Orders</a></p>
      </div>

      <div id="social">
        <object data="{{STATIC_URL}}images/facebook.svg" type="image/svg+xml" width="50" height="50"><a href="#"></a></object>
        <object data="{{STATIC_URL}}images/twitter.svg" type="image/svg+xml" width="50" height="50"><a href="#"></a></object>
      </div>

      <form action="#" id="search_box">
      <input type="text" id="search" name="search" placeholder="Search">
      <button type="submit" class="search_btn"><object data="{{STATIC_URL}}images/search_button.svg" type="image/svg+xml" width="17" height="17"></object></button>
      </form>

    </div><!---End header-->

    <div id="nav">
      <ul id="navigation">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SOURCES</a>
          <ul> 
          <li><a href="#">Ethiopia</a></li>
          </ul>
        </li>
        <li><a href="#">PRICING</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>

    <div id="media">
      <h1>Testing H1</h1>
      <h2>Testing H2</h2>
      <h3>Testing H3</h3>

      <p class="content"> Testing content text and font
      Testing content text and fontTesting content text and fontTesting content text and fontTesting content text and fontTesting content text and fontTesting content text and fontTesting content text and fontTesting content text and fontTesting content text and font
      </p>


    </div>

    <div id="footer">
      <p id="foot">&copy; 2013 The Source Coffee Company. All rights reserved.</p>
    </div>

</div> <!--End container-->

</body>

</html>
