{% extends "customers/account_home.html" %}
{% load order_extras %}

{% block main %}

<h2>Orders</h2>

<table>
<tr>
<th>
Order Type
</th>
<th>
Order Fulfillment Date/Time
</th>
<th>
Order Subscription
</th>
<th>
Misc
</th>
</tr>
{% for order in orders %}
<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
<td>
{{ order|classname }}
</td>
<td>
{{ order.fulfilled|default:"Not fulfilled" }}
</td>
<td>
{{ order.subscription }}
</td>

{% if order|classname == "PickupOrder" %}
<td>
{{ order.location }}
</td>

{% elif order|classname == "MailOrder" %}
<td>
Tracking: {{ order.tracking_number }}
Sent: {{ order.date_sent }}
</td>
{% endif %}

</tr>
{% endfor %}
</table>

{% endblock %}
