{% extends "customers/customer_home.html" %}
{% load order_extras %}

{% block main %}

<h2>Orders</h2>

<table>
<tr>
<th>
Order #
</th>
<th>
Order Fulfillment Date/Time
</th>
<th>
Order Subscription
</th>
<th>
Tracking Number
</th>
</tr>
{% for order in orders %}
<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
<td>
{{ order.id }}
</td>
<td>
{{ order.fulfilled|default:"Not fulfilled" }}
</td>
<td>
{{ order.subscription.plan }}
</td>
<td>
{% if order.fulfilled %}
Tracking: {{ order.tracking_number }}
Sent: {{ order.date_sent }}
{% endif %}
</td>

</tr>
{% endfor %}
</table>

{% endblock %}
