{% extends "customers/home.html" %}
{% load order_extras %}

{% block main %}

<div class="loggedin">

<div class="orderwrap">
<h2>Orders</h2>

<table>
<tr>
<th>
Order #
</th>
<th>
Order Fulfillment Date/Time
</th>
<th>
Order Subscription
</th>
<th>
Tracking Number
</th>
</tr>
{% for order in fulfilled_orders %}
<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
<td>
{{ order.id }}
</td>
<td>
{{ order.fulfilled|default:"Not fulfilled" }}
</td>
<td>
{{ order.subscription.plan }}
</td>
<td>
{% if order.fulfilled %}
Tracking: {{ order.tracking_number }}
Sent: {{ order.date_sent }}
{% endif %}
</td>
</tr>
{% empty %}
<tr class="odd">
<td colspan=4>
No fulfilled orders
</td>
</tr>
{% endfor %}

<tr>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
</tr>
<tr class="even">
<br/>
<br/>
<td colspan="4">
<b>Next Order</b>
</td>
</tr>

<tr class="odd">
<td>
{{ next_order.id }}
</td>
<td>
{{ next_order.to_be_fulfilled }}
</td>
<td>
{{ order.subscription.plan }}
</td>
</tr>
</table>

</div>
</div>
{% endblock %}
