<div id="check2">
  <h2>Step 2: Choose your plan</h2>
  <div class="control-group input_id_plan">
  <div class="center">
  <script type="text/javascript">
  $(function() {
  $( "input[name=amount]" ).buttonset();
  $( "input[name=interval]" ).buttonset();
  });
  </script>
  <input type="radio" name="amount" id="amount_2" value="2"/><label for="2">2oz Trial</label>
  <input type="radio" name="amount" id="amount_8" value="8oz"><label for="2">8oz Trial</label>
  <input type="radio" name="amount" id="amount_12" value="12oz"><label for="2">12 Trial</label>
  <input type="radio" name="amount" id="amount_16" value="16oz"><label for="2">16 Trial</label>
  </div>
  <p class="content">
  How long do you want your subscription to last?
  </p>
  <div class="center">
  <input type="radio" name="interval" id="interval_1" value="1"/><label for="interval_1">Monthly</label>
  <input type="radio" name="interval" id="interval_3" value="3"><label for="interval_3">3 months</label>
  <input type="radio" name="interval" id="interval_12" value="12"><label for="interval_12">1 year</label>
  </div>
  <p class="content">
  *Please note that 3 month and 1 year subscriptions will only be cancelled after the subscription period has elapsed!*
  </p>
  </div>

<div class="control-group input_id_code">
    <label for="id_code" class="signup">Have a gift code?</label>
    <div class="controls">
        <input id="id_code" name="code" type="text" />
        <span class="help-inline"></span>
    <input type="submit" class="btn" value="Apply Code"></input>
    </div>
</div>

<h3>Grand Total:$80</h3>
<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="pk_test_byUXCM2Jh3dR4GG5SbML95zn">
</script>
