{% load jsonify %}

<script type="text/javascript">

// Turn interval and amount radios into jquery buttonsets
$(function() {
  $('#amount_radios').buttonset();
  $('#interval_radios').buttonset();
});

// Update the grand total HTML with a given price or calculate based on
// chosen interval and amount
function update_total(price) {
  if (!price) {
    var plans = {{plans|jsonify}};
    var amount = $('input:checked[name="amount"]').val();
    if (!amount) {
      price = 'Select an amount';
    } else {
      var interval = $('input:checked[name="interval"]').val();
      if (!interval) {
        price = 'Select an interval';
      } else {
        price = plans[amount][interval];
        price = '$' + price.toString();
      }
    }
  }
  $('#signup_total').html('Grand Total: ' + price);
}

// Event handling code for interval/amount buttons
$(function(){
  $("input[type='radio']").change(function(obj) {

    //disable interval when choosing the 2oz trial or re-enable when deselected
    if ($('input:checked[name="amount"]').val() == 0.125) {
      $('input[name="interval"]').button({disabled:true});
      $('input[name="interval"]').prop('checked', false);
      $('#interval_radios').buttonset('refresh');
      update_total('Free!');
    } else {
      $('input[name="interval"]').button({disabled:false});
      update_total();
    }
  });
});

// Initialize total
$(function(){
  update_total();
});

// Make an ajax request to see if the code is valid and apply it if so
function apply_code() {
  var code = $("#id_code").val();
  var email = $("#id_email").val();
  $.ajax({
    url: '{{code_check_url}}',
    data: {
      'code': code,
      'email': email
    },
  }).done(function(data) {
    data = JSON.parse(data);
    if (data) {
      // Update interval and amount radios
      var input = "input[type='radio']";
      var interval = "[name='interval'][value='" + data['interval'] + "']";
      var amount = "[name='amount'][value='" + data['amount'] + "']";
      $("input[type='radio']").button({disabled:true});
      $(input + interval).button({disabled:false});
      $(input + amount).button({disabled:false});

      // Don't allow other 'on change' code to mess with button state
      $('input[type="radio"]').unbind('change');

      // Update grand total
      update_total('Free!');

      // Remove stripe button
      $('.stripe-button-el').remove();

      //Place redeem code button
      $('#redeem_code_btn').show();

    } else {
      $('.input_id_code .help-inline').html('Invalid code!');
    }
  });
}

// Handle gift code application
$(function(){
  $("#apply_code_btn").click(function(obj) { apply_code(); });
});
</script>

<div class="control-group input_id_plan">
<div class="center">
  <div id="amount_radios">
    {% for value, text in subscription_form.fields.amount.choices %}
    <input {% if subscription_form.amount.value == value %}checked="checked"{%endif%} id="amount_{{value}}" type="radio" value="{{value}}" name="amount"/>
    <label for="amount_{{value}}">{{text}}</label>
    {% endfor %}
  </div>
  <p class="content">
  How long do you want your subscription to last?
  </p>
  <div class="center">
    <div id="interval_radios">
    {% for value, text in subscription_form.fields.interval.choices %}
      <input {% if subscription_form.interval.value == value %}checked="checked"{%endif%} id="interval_{{value}}" type="radio" value="{{value}}" name="interval"/>
      <label for="interval_{{value}}">{{text}}</label>
    {% endfor %}
    </div>
  </div>
  <p class="content">
  *Please note that 3 month and 1 year subscriptions will only be cancelled after the subscription period has elapsed!*
  </p>
  </div>

<div class="control-group input_id_code">
    <label for="id_code" class="signup">Have a gift code?</label>
    <div class="controls">
        <input id="id_code" name="code" type="text" />
        <span class="help-inline"></span>
    <input type="button" class="btn" id="apply_code_btn" value="Apply Code"></input>
    </div>
</div>

<h3 id="signup_total">Grand Total:</h3>
<input type="submit" class="btn" id="redeem_code_btn" value="Redeem Gift" style="display:none"></input>
<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="pk_test_byUXCM2Jh3dR4GG5SbML95zn">
</script>
