{% extends "customers/home.html" %}

{% block main %}

{% if subscription %}

<h2>Subscription</h2>
<p class="content">
Awesome, you have an active subscription!
<br/><br/>
Current subscription size: {{ subscription.plan.amount_str }}
<br/><br/>
Current subscription length: {{ subscription.plan.interval_str }}
<br/><br/>
Would you like to:
<br/>
<form method="post">
{% csrf_token %}
<button class="btn" name="action" value="pause">Pause Subscription</button>
<button class="btn" name="action" value="change">Change Subscription</button>
<button class="btn" name="action" value="cancel">Cancel Subscrption</button>
</form>
{% endif %}

{% endblock %}
