{% extends "customers/account_home.html" %}

{% block main %}

{% if subscription %}

<h2>Subscription</h2>
<p class="content">
Awesome, you have an active subscription!
<br/><br/>
Current subscription size: {{ subscription.plan.amount_str }}
<br/><br/>
Current subscription length: {{ subscription.plan.interval_str }}
<br/><br/>
Would you like to:
<br/>
<input class="btn" type="submit" value="Pause Subscription"></input> 
<input class="btn" type="submit" value="Change Subscription"></input> 
<input class="btn" type="submit" value="Cancel Subscrption"> </input>
{% endif %}

{% endblock %}
