{% extends "base.html" %}

{% block main %}

Subscription:
<hr/>

{% if subscription %}
<dl>
<dt>Subscription</dt>
<dd>{{ subscription.plan }}</dd>
<dt>Activation Date</dt>
<dd>{{ subscription.current_period_start }}</dd>
<dt>Expiration Date</dt>
<dd>{{ subscription.current_period_end }}</dd>
</ul>
{% endif %}

{% if form %}
<form method="post">{% csrf_token %}
{{ form.as_p }}
<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="{{data_key}}">
</script>
<input type="submit" value="Update" />
{{ msg }}
{% endif %}

{% endblock %}
