html, body
{
min-height:100%;
width:100%;
margin:0;
color: #939597;
}

@font-face {
    font-family: 'dinbold';
    src: url('../fonts/din-bold-webfont.eot');
    src: url('../fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-bold-webfont.woff') format('woff'),
         url('../fonts/din-bold-webfont.ttf') format('truetype'),
         url('../fonts/din-bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinmedium';
    src: url('../fonts/din-medium-webfont.eot');
    src: url('../fonts/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-medium-webfont.woff') format('woff'),
         url('../fonts/din-medium-webfont.ttf') format('truetype'),
         url('../fonts/din-medium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

#container
{
min-height:100%;
max-width:100%;
background-color:#21211E;
padding-left:5%;
padding-right:5%;
padding-bottom:10px;
overflow:hidden;
}

#header
{
height:150px;
min-width:972px;
background-color:#21211E;
overflow:hidden;
font-family: 'dinmedium', 'serif';
color:#939597;
font-size:14px;
}

img
{border:0;}

#logo
{
float:left;
position:absolute;
background-color:#21211E;
}

#login
{
float:left;
margin-left:47.5%;
padding-top:40px;
}

p.topheader
{
font-family: 'dinmedium', 'Georgia', 'serif';
font-size:14px;
line-height:50%;
margin-top:7px;
margin-bottom:7px;
}

p.topheader a{
text-decoration:none;
color:#5D5D5D;
}

#social
{
float:left;
margin-left:12%;
height:110px;
width:13%;
padding-top:40px;
}

#search_box
{
float:right;
padding-top:50px;
padding-right:40px;
margin-right:0;
}

input
{
display:inline;

}

input.search_btn
{
	background:url("../images/search_button.png") no-repeat left top;
	background-color:#E0AA5B;
	border:0;
	padding:0;
	margin-left:-6px;
	text-indent:-9999px;
	width:23px;
	height:22px;
	cursor:pointer;
}

#nav
{
height:60px;
min-width:972px;
max-width:95%;
}

#navigation {
list-style-type: none;
height: 40px;
padding:0;
 }

#navigation li {
list-style-type:none;
float:left;
position:relative;
line-height:40px;
padding-bottom:0;
padding-right:10%;
margin-right:2%;
border-bottom:6px;
border-bottom-color:#5D5D5D;
border-bottom-style:solid;
 }

 #navigation li:hover {
 background-position: 0 -40px;
 }

 #navigation li a {
 list-style-type:none;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 text-decoration:none;
 }

 #navigation li a:hover{
 color: #B9842B;
 }

 #navigation li a:active{
 color: #B9842B;
 }

  #navigation li ul{
 opacity: 0;
 list-style-type:none;
 position: absolute;
 left: 0;
 top:40px;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 background-color:#E8E8E9;
 width:100%;
 padding-left:3px;
 margin:0;
 }

 #navigation li:hover ul{
 opacity: 1; 
 z-index:100;
 }

 #navigation li ul li{
 float: none;
 position: static;
 height: 0;
 line-height: 0;
 background: none;
 }

 #navigation li:hover ul li {
 height: 40px;
 line-height: 40px;
 border:none;
 padding-left:5px;
 }

  #navigation li ul li a{
 color:#939597;
 }

  #navigation li ul li a:hover{
  color:#B9842B;
 }

#cust_nav
{
min-height:750px;
width:180px;
float:left;
margin-right:20px
}

#cust_navigation { 
padding:0;
width:180px;
 }
 
#cust_navigation li {
list-style-type:none;
line-height:40px;
border-bottom:6px; 
border-bottom-color:#5D5D5D;
border-bottom-style:solid;
width:180px;
 }
 
 #cust_navigation li:hover { 
 background-position: 30px 0;
 }
 
 #cust_navigation li a {
 list-style-type:none;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 text-decoration:none;
 }
 
 #cust_navigation li a:hover{
 color: #B9842B;
 }

 #cust_navigation li a:active{
 color: #B9842B;
 }
 
  #cust_navigation li ul{
 opacity: 0;
 list-style-type:none;
 position: absolute; 
 left: 0; 
 top:40px;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 background-color:#E8E8E9;
 width:100%;
 padding-left:3px;
 margin:0;
 }
 
 #cust_navigation li:hover ul{
 opacity: 1; }
 
 #cust_navigation li ul li{
 float: none; 
 position: static; 
 height: 0; 
 line-height: 0; 
 background: none; 
 }
 
 #cust_navigation li:hover ul li {
 height: 40px; 
 line-height: 40px;  
 border:none;
 padding-left:5px;
 }
 
  #cust_navigation li ul li a{
 color:#939597;
 }
 
  #cust_navigation li ul li a:hover{
  color:#B9842B;
 }

 #media
{
min-height:500px;
min-width:972px;
padding:5px;
}

#check1
{
float:left;
width:485px;
height:675px;
border:2px solid #B9842B;
margin-right:30px;
padding:10px
}

#check11
{
float:left;
width:50%;

}

#check12
{
float:right;
width:50%;
}

#extra
{
clear:both;
}

#check2
{
float:left;
width:485px;
height:675px;
border:2px solid #B9842B;
padding:10px;
}

#changesub
{
float:left;
width:485px;
height:675px;
border:2px solid #B9842B;
margin-right:30px;
padding:10px
}


 label.signup
{
font-family: 'dinmedium', 'serif';
color:#5D5D5D;
font-size: 20px;
}

div.center
{
text-align:center;
}

form
{
font-family:'dinmedium', 'serif';
color:#5D5D5D;
font-size: 20px;
}

.btn
{
font-family:'dinmedium', 'serif';
background-color:#E0AA5B;
color:#5D5D5D;
font-size: 16px;
font-weight:normal;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
margin-top:10px;
-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
box-shadow:inset 0px 1px 0px 0px #fce2c1;
border:none;
cursor:pointer;
}

.ui-helper-hidden-accessible
{
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px,1px,1px,1px);
}

.ui-state-hover {
background-color: #E0AA5B !important;
}

.ui-state-active {
background-color: #F0BA6B !important;
}

.ui-button
{
font-family:'dinmedium', 'serif';
color:#5D5D5D;
font-size: 16px;
font-weight:normal;
margin-top:10px;
cursor:pointer;
border: 1px solid #666666;
margin: -4px;
}

.ui-button-text
{
  padding: .4em;
}

.ui-state-default
{
background-color: #D09A4B;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

h1 
{
font-family: 'dinmedium', 'serif';
color:#939597;
font-size:48px;
text-decoration:none;
margin-top:0px;
}

h2 {
font-family:'dinmedium', 'serif';
color:#939597;
font-size:32px;
text-decoration:none;
margin-top:0px;
}

h3 {
font-family:'dinmedium', 'serif';
color:#939597;
font-size:24px;
text-decoration:none;
margin-top:0px;
}

h4 {
font-family:'dinmedium', 'serif';
color:#939597;
font-size:20px;
text-decoration:none;
margin-top:0px;
}

p.content {
font-family: 'dinmedium', 'serif';
color:#5D5D5D;
font-size: 18px;
}

p.content a
{
font-family: 'dinmedium', 'serif';
color:#B9842B;
font-size: 18px;
text-decoration:none;
}

p.content a active
{
font-family: 'dinmedium', 'serif';
color:#939597;
font-size: 18px;
text-decoration:none;
}

table
{
border-collapse:collapse;
max-width:100%;
}

th
{
border:2px solid #B9842B;
font-family: 'dinbold', 'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
}

td
{
border:2px solid #B9842B;
font-family:'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
}

th.price1
{
border:2px solid #B9842B;
font-family: 'dinbold', 'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
text-align:center;
}

td.price1
{
border:2px solid #B9842B;
font-family:'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
text-align:center;
}

th.price2
{
border:2px solid #B9842B;
font-family: 'dinbold', 'dinmedium', 'serif';
background-color:#5D5D5D;
color:#21211E;
font-size:16px;
text-decoration:none;
padding:5px;
text-align:center;
}

td.price2
{
border:2px solid #B9842B;
font-family:'dinmedium', 'serif';
color:#FFFFFF;
background-color:#4D4D4D;
font-size:16px;
text-decoration:none;
padding:5px;
text-align:center;
}

ul#splash
{
list-style-type:none;
}

ul#splash li
{
width:225px;
float:left;
text-align:center;
margin:20px;
}

ul#splash li a
{
font-family: 'dinmedium', 'serif';
color:#B9842B;
font-size: 20px;
text-decoration:none;
}

ul#splash li a active
{
font-family: 'dinmedium', 'serif';
color:#939597;
font-size: 20px;
text-decoration:none;
}

#footer
{
height:50px;
min-width:972px;
padding-bottom:15px;
clear:both;
}

p#foot
{
padding:10px 10px 10px 10px;
font-family: 'dinmedium', 'serif';
margin-top:10px;
font-size:12px;
color:#42403E;
}
