html, body
{
min-height:100%;
width:96%;
background-color:#000000;
padding-left:2%;
padding-right:2%;
margin:0;
}

@font-face {
    font-family: 'dinbold';
    src: url('../fonts/din-bold-webfont.eot');
    src: url('../fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-bold-webfont.woff') format('woff'),
         url('../fonts/din-bold-webfont.ttf') format('truetype'),
         url('../fonts/din-bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinmedium';
    src: url('../fonts/din-medium-webfont.eot');
    src: url('../fonts/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-medium-webfont.woff') format('woff'),
         url('../fonts/din-medium-webfont.ttf') format('truetype'),
         url('../fonts/din-medium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

#container
{
min-height:100%;
height:100%;
max-width:100%;
background-color:#21211E;
padding-left:3%;
padding-right:3%;
padding-bottom:10px;
-webkit-box-shadow: 3px 0px 10px 0px rgba(250, 250, 250, 0.5);
box-shadow: 3px 0px 10px 0px rgba(250, 250, 250, 0.5);
-moz-box-shadow: 3px 0px 10px 0px rgba(250, 250, 250, 0.5);
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#FFFFFF')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#FFFFFF');
}

#header
{
height:150px;
min-width:972px;
background-color:#21211E;
overflow:hidden;
font-family: 'dinmedium', 'serif';
color:#939597;
font-size:14px;
}

img
{border:0;}

#logo
{
float:left;
position:absolute;
background-color:#21211E;
}

#login
{
float:left;
margin-left:47.5%;
padding-top:40px;
}

p.topheader
{
font-family: 'dinmedium', 'Georgia', 'serif';
font-size:14px;
line-height:50%;
margin-top:7px;
margin-bottom:7px;
}

p.topheader a{
text-decoration:none;
color:#5D5D5D;
}

#social
{
float:left;
margin-left:12%;
max-height:51px;
width:13%;
min-width:178px;
padding-top:40px;
overflow:hidden;
}

#search_box
{
float:right;
padding-top:50px;
padding-right:40px;
margin-right:0;
}

input
{
display:inline;

}

input.search_btn
{
	background:url("../images/search_button.png") no-repeat left top;
	background-color:#E0AA5B;
	border:0;
	padding:0;
	margin-left:-6px;
	text-indent:-9999px;
	width:23px;
	height:22px;
	cursor:pointer;
}

#navwrapper
{
height:70px;
min-width:972px;
width:108%;
margin-left:-4%;
top:0;
margin-bottom:20px;
background-color:#4d4d45;
}

#nav
{
height:70px;
background-color:#4d4d45;
min-width:972px;
padding-left:5%;
-webkit-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.5);
box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.5);
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#navigation {
list-style-type: none;
height: 40px;
padding:0;
 }

#navigation li {
list-style-type:none;
float:left;
position:relative;
line-height:40px;
padding-bottom:0;
padding-right:10%;
margin-right:2%;
border-bottom:6px;
border-bottom-color:#5D5D5D;
border-bottom-style:solid;
 }

 #navigation li:hover {
 background-position: 0 -40px;
 }

 #navigation li a {
 list-style-type:none;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 text-decoration:none;
 }

 #navigation li a:hover{
 color: #B9842B;
 }

 #navigation li a:active{
 color: #B9842B;
 }

  #navigation li ul{
 opacity: 0;
 list-style-type:none;
 position: absolute;
 left: 0;
 top:40px;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 background-color:#E8E8E9;
 width:100%;
 padding-left:3px;
 margin:0;
 }

 #navigation li:hover ul{
 opacity: 1; 
 z-index:100;
 }

 #navigation li ul li{
 float: none;
 position: static;
 height: 0;
 line-height: 0;
 background: none;
 }

 #navigation li:hover ul li {
 height: 40px;
 line-height: 40px;
 border:none;
 padding-left:5px;
 }

  #navigation li ul li a{
 color:#939597;
 }

  #navigation li ul li a:hover{
  color:#B9842B;
 }

#cust_nav
{
min-height:750px;
width:180px;
float:left;
margin-right:20px
}

#cust_navigation { 
padding:0;
width:180px;
 }
 
#cust_navigation li {
list-style-type:none;
line-height:40px;
border-bottom:6px; 
border-bottom-color:#5D5D5D;
border-bottom-style:solid;
width:180px;
 }
 
 #cust_navigation li:hover { 
 background-position: 30px 0;
 }
 
 #cust_navigation li a {
 list-style-type:none;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 text-decoration:none;
 }
 
 #cust_navigation li a:hover{
 color: #B9842B;
 }

 #cust_navigation li a:active{
 color: #B9842B;
 }
 
  #cust_navigation li ul{
 opacity: 0;
 list-style-type:none;
 position: absolute; 
 left: 0; 
 top:40px;
 font-family:'dinbold', 'dinmedium', 'serif';
 color: #939597;
 background-color:#E8E8E9;
 width:100%;
 padding-left:3px;
 margin:0;
 }
 
 #cust_navigation li:hover ul{
 opacity: 1; }
 
 #cust_navigation li ul li{
 float: none; 
 position: static; 
 height: 0; 
 line-height: 0; 
 background: none; 
 }
 
 #cust_navigation li:hover ul li {
 height: 40px; 
 line-height: 40px;  
 border:none;
 padding-left:5px;
 }
 
  #cust_navigation li ul li a{
 color:#939597;
 }
 
  #cust_navigation li ul li a:hover{
  color:#B9842B;
 }

 #media
{
padding-top:20px;
min-height:500px;
min-width:972px;
padding:5px;
}

#check1
{
float:left;
width:485px;
height:675px;
border:2px solid #B9842B;
margin-right:30px;
padding:10px
}

#check11
{
float:left;
width:50%;

}

#check12
{
float:right;
width:50%;
}

#extra
{
clear:both;
}

#check2
{
float:left;
width:485px;
height:675px;
border:2px solid #B9842B;
padding:10px;
}

#changesub
{
float:left;
width:485px;
height:675px;
border:2px solid #B9842B;
margin-right:30px;
padding:10px
}

div.subcost
{
border:2px solid #B9842B;
width:300px;
height:300px;
float:left;
margin-right:10px;
background-color:#4D4D4D;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;
border-radius: 17px;
-webkit-box-shadow:  1px 1px 3px 1px rgba(250, 250, 250, 0.5);
box-shadow:  1px 1px 3px 1px rgba(250, 250, 250, 0.5);
-moz-box-shadow:  1px 1px 3px 1px rgba(250, 250, 250, 0.5);
}

p.costs
{
font-family:'dinmedium', 'serif';
color:#21211E;
font-size:16px;
text-decoration:none;
text-align:center;
margin:0;
padding-left:3px;
padding-right:3px;
}


 label.signup
{
font-family: 'dinmedium', 'serif';
color:#5D5D5D;
font-size: 20px;
}

div.center
{
text-align:center;
}

form
{
font-family:'dinmedium', 'serif';
color:#5D5D5D;
font-size: 20px;
margin-bottom:5px;
}

div.form-actions
{
padding-top:10px;
}

.btn
{
font-family:'dinmedium', 'serif';
color: rgb(255, 255, 255);
font-size: 20px;
padding: 8px;
text-shadow: -2px -1px 8px rgba(30, 30, 30, 0.73);
-webkit-border-radius: 51px;
-moz-border-radius: 51px;
border-radius: 51px;
background: rgb(185, 133, 43);
background: -moz-linear-gradient(90deg, rgb(185, 133, 43) 52%, rgb(230, 207, 168) 82%);
background: -webkit-linear-gradient(90deg, rgb(185, 133, 43) 52%, rgb(230, 207, 168) 82%);
background: -o-linear-gradient(90deg, rgb(185, 133, 43) 52%, rgb(230, 207, 168) 82%);
background: -ms-linear-gradient(90deg, rgb(185, 133, 43) 52%, rgb(230, 207, 168) 82%);
background: linear-gradient(0deg, rgb(185, 133, 43) 52%, rgb(230, 207, 168) 82%);
-webkit-box-shadow: 3px 2px 7px rgba(50, 50, 50, 0.87);
-moz-box-shadow:    3px 2px 7px rgba(50, 50, 50, 0.87);
box-shadow:         3px 2px 7px rgba(50, 50, 50, 0.87);
border:none;
cursor:pointer;
}

.ui-state-disabled { cursor: default !important; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

.ui-helper-hidden-accessible
{
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px,1px,1px,1px);
}

.ui-state-hover {
background-color: #E0AA5B !important;
}

.ui-state-active {
background-color: #F0BA6B !important;
}

.ui-button
{
font-family:'dinmedium', 'serif';
color:#5D5D5D;
font-size: 16px;
font-weight:normal;
margin-top:10px;
cursor:pointer;
border: 1px solid #666666;
margin: -4px;
}

.ui-button-text
{
  padding: .4em;
}

.ui-state-default
{
background-color: #D09A4B;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

h1 
{
font-family: 'dinmedium', 'serif';
color:#939597;
font-size:48px;
text-decoration:none;
margin-top:0px;
}

h2 {
font-family:'dinmedium', 'serif';
color:#939597;
font-size:32px;
text-decoration:none;
margin-top:0px;
}

h2 a
{
font-family:'dinmedium', 'serif';
color:#B9842B;
font-size:32px;
text-decoration:none;
margin-top:0px;
}
}

h3 {
font-family:'dinmedium', 'serif';
color:#939597;
font-size:24px;
text-decoration:none;
margin-top:0px;
}

h4 {
font-family:'dinmedium', 'serif';
color:#939597;
font-size:20px;
text-decoration:none;
margin-top:0px;
}

h5{
font-family:'dinmedium', 'serif';
color:#B9842B;
font-size:24px;
text-decoration:none;
margin:0;
margin-top:10px;
}

h6{
font-family:'dinmedium', 'serif';
color:#E8E8E9;
font-size:24px;
text-decoration:none;
margin:0;
margin-top:10px;
margin-bottom:10px;
}


p.content {
font-family: 'dinmedium', 'serif';
color:#5D5D5D;
font-size: 18px;
}

p.content a
{
font-family: 'dinmedium', 'serif';
color:#B9842B;
font-size: 18px;
text-decoration:none;
}

p.content a active
{
font-family: 'dinmedium', 'serif';
color:#939597;
font-size: 18px;
text-decoration:none;
}

p.right
{
float:right;
-webkit-box-shadow:  5px 0px 10px 0px rgba(0, 0, 0, 0.5);
box-shadow:  5px 0px 10px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:  5px 0px 10px 0px rgba(0, 0, 0, 0.5);
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

table
{
max-width:100%;
border-collapse:collapse;
}

table th:empty
{
background:transparent;
    border:none;
	}
	
td.none
{
background:transparent;
    border:none;
	text-align:center;
	}


th
{
border:2px solid #B9842B;
font-family: 'dinbold', 'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
}

td
{
border:2px solid #B9842B;
font-family:'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
}


th.price
{
border:2px solid #B9842B;
font-family: 'dinbold', 'dinmedium', 'serif';
color:#B9842B;
font-size:20px;
text-decoration:none;
padding:5px;
text-align:center;
background-color:#4D4D4D;
}

td.price1
{
border:2px solid #B9842B;
font-family:'dinmedium', 'serif';
color:#939597;
font-size:16px;
text-decoration:none;
padding:5px;
text-align:center;
}

td.price2
{
border:2px solid #B9842B;
font-family:'dinmedium', 'serif';
color:#FFFFFF;
background-color:#4D4D4D;
font-size:16px;
text-decoration:none;
padding:5px;
text-align:center;
}

ul#splash
{
list-style-type:none;
}

ul#splash li
{
width:225px;
float:left;
text-align:center;
margin:20px;
}

ul#splash li a
{
font-family: 'dinmedium', 'serif';
color:#B9842B;
font-size: 20px;
text-decoration:none;
}

ul#splash li a active
{
font-family: 'dinmedium', 'serif';
color:#939597;
font-size: 20px;
text-decoration:none;
}

#footer
{
height:50px;
min-width:972px;
padding-bottom:15px;
clear:both;
}

p#foot
{
padding:10px 10px 10px 10px;
font-family: 'dinmedium', 'serif';
margin-top:10px;
font-size:14px;
color:#42403E;
}


p#foot a
{
padding:10px 10px 10px 10px;
font-family: 'dinmedium', 'serif';
margin-top:10px;
font-size:14px;
color:#B9842B;
text-decoration:none;
}
