{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}
{% block main %}
<form class="signup" method="post"{% if customer_form.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% fields_for customer_form %}
{% fields_for subscription_form %}
<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="{{stripe_key}}">
</script>
</form>
{% endblock %}
