{% extends "base.html" %}
{% block main_menu %}
  <div id="media">
    <div id="cust_nav">
      <ul id="navigation">
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li><a href="{% url 'profile_update' %}">MY ACCOUNT</a></li>
        <li><a href="#">SUBSCRIPTION</a></li>
        <li><a href="{% url 'orders' %}">ORDERS</a></li>
        <li><a href="#">INVITES AND REWARDS</a></li>
        <li><a href="#">BREWING TIPS</a></li>
      </ul>
    </div>
    {% block main %}
    {% endblock %}
  </div>
{% endblock %}
