{% extends "base.html" %}
{% block main_menu %}
  <div id="content_wrap">

    <div id="cust_nav">
      <ul id="cust_navigation">
        <li><a href="{% url 'customers_home' %}">ACCOUNT HOME</a></li>
        <li><a href="{% url 'profile_update' %}">MY PROFILE</a></li>
        <li><a href="{% url 'subscription' %}">SUBSCRIPTION</a></li>
        <li><a href="{% url 'orders' %}">ORDERS</a></li>
        <li><a href="#">INVITES AND REWARDS</a></li>
        <li><a href="#">BREWING TIPS</a></li>
      </ul>
    </div>

    {% block main %}
    {% endblock %}

  </div>
{% endblock %}
