{% extends "customers/customer_base.html" %}
{% block main %}
<div id="media">
  <ul id="splash">
    <li><a href="#"><img src="{{STATIC_URL}}/images/icon_1.png"/>Manage My Account</a></li>
    <li><a href="#"><img src="{{STATIC_URL}}/images/icon_2.png"/>Review Subscription</a></li>
    <li><a href="#"><img src="{{STATIC_URL}}/images/icon_3.png"/>Order History</a></li>
  </ul>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <ul id="splash">
    <li><a href="#"><img src="{{STATIC_URL}}/images/icon_4.png"/>Invites and Rewards</a></li>
    <li><a href="#"><img src="{{STATIC_URL}}/images/icon_5.png"/>Brewing Tips</a></li>
    <li><a href="#"><img src="{{STATIC_URL}}/images/icon_6.png"/>Log Off</a></li>
  </ul>
</div>
{% endblock %}
