{% extends "customers/base.html" %}

{% block main %}
<div id="media">
			<h2>Tips for brewing!</h2>
			<p class="content">
			Here are some of our top tips to get a perfect cup of coffee, every time.
			</p>
			<h2>1. Grind your beans fresh</h2>
			<p class="content">
			Grinding beans fresh ensures maximum flavor, so we ship our coffee to you as whole beans.  For best flavor, don't grind the whole bag each time you receive it, as this
			releases many of the aromatics into the air instead of into your coffee!  Also, using a burr grinder ensures an even grind for your brewing method (pour-over, french press, etc.)
			but even a blade grinder will be better than grinding it all at once.
			<h2>2. Good ratio of coffee to water and good water</h2>
			<p class="content">
			A good ratio to begin with is 2 tablespoons of coffee to 8 oz of water.  Some people will like a stronger coffee, which would require more beans or less water, and vice-versa
			for a lighter cup.  Make sure to use good clean drinking water and heat it to about 190&#176; before you brew.
			</p>
			<h2>3. Keep your beans fresh</h2>
			<p class="content">
			Our bags are sent to you sealed and have a one way outgassing valve that allows oxidizing vapors to escape.  Keeping your coffee in our bags will keep it fresh for at least two weeks at 
			room temperature, although many people like to put their coffee in the freezer to keep it from oxidizing even more.  This is fine to do, but once the coffee has been frozen, DO NOT
			take it out except to get some beans to brew.  If you bring the entire bag back to room temperature and refreeze, there is a good chance all the flavor will be ruined.
			</p>
			<br />
			<p class="content">Need more help? Email us here: <a href="mailto:brewing@thesourcecoffee.com">help me brew!</a></p>
		</div>

{% endblock %}
