{% load i18n future pages_tags %}

{% if branch_level == 0 %}
<div id="nav">
  <ul id="navigation">
{% endif %}

    {% for page in page_branch %}

    {% if not has_home and page.is_primary and forloop.first %}
    <li class="{% if on_home %} active{% endif %}" id="dropdown-menu-home">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
    <li class="divider-vertical"></li>
    {% endif %}

    {% if page.in_menu %}
    <li class="dropdown{% if page.is_current_or_ascendant %} active{% endif %}"
        id="dropdown-menu-{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">
            {{ page.title|upper }}
            {% if page.has_children_in_menu %}<span class="caret"></span>{% endif %}
        </a>
        <ul>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
        </ul>
    </li>
    {% endif %}

    {% endfor %}

{% if branch_level == 0 %}
  </ul>
</div>
{% endif %}
